// form 表单
@import '~lib/sandal/core';
@import '~assets/css/core/functions', '~assets/css/core/mixins', '~assets/css/core/vars';

.dn-form {
	// background-color: $bgGray;
	.weui-cell__hd {
		width: 7em;
	}

	.vux-selector {
		.weui-cell__hd {
			width: 5em;
		}
	}

	.vux-selector.weui-cell_select-after {
		padding-left: $padding - 3px;
	}

	.weui-input {
		vertical-align: sub;
	}

	.group-noTop {
		.weui-cells {
			margin-top: 0;
		}
	}

	.weui-cells {
		margin-top: 0;
	}
}

.el-selector {
	.weui-cell__ft {
		text-align: left;
	}
}

.weui-cell_select .weui-cell__bd:after {
	width: 12px !important;
	height: 12px !important;
}

.vux-check-icon > .weui-icon-success:before, .vux-check-icon > .weui-icon-success-circle:before {
	margin-left: 0 !important;
}

.weui-btn {
	&:after {
		border-width: 0 !important;
	}

	&.weui-btn_default {
		&:after {
			border-width: 1px !important;
		}
	}
}

.weui-cell_select .weui-cell__bd:after {
	border-width: 1px 1px 0 0 !important;
	border-color: #ccc !important;
}

.weui-search-bar__label span {
	line-height: 28px;
}