// form 表单
@import '~lib/sandal/core';
@import '~assets/css/core/functions', '~assets/css/core/mixins', '~assets/css/core/vars';

.dn-form {
	// background-color: $bgGray;
	.weui-cell__hd {
		width: 7em;
	}

	.vux-selector.weui-cell_select-after {
		padding-left: $padding;
	}

	.weui-input {
		vertical-align: sub;
	}

	.group-noTop {
		.weui-cells {
			margin-top: 0;
		}
	}

	.weui-cells {
		margin-top: 0;

		&:before {
			border-top: 0;
		}

		&:after {
			border-bottom: 0;
		}
	}
}

.el-selector {
	.weui-cell__ft {
		text-align: left;
	}
}
