// 图标css

$icon: service, // 服务
			 idCardType, // 证件类型
			 idCard, // 身份证
			 tel, // 手机号
			 add, // 添加
			 horn, // 喇叭
			 user, // 姓名
			 weixin, // 微信
			 qrcode, // 验证码
			 user-address, // 用户地址
			 user-clear, // 清楚缓存
			 user-haoyou, // 用户好友
			 user-course, // 用户课程订单
			 user-kefu, // 用户客服
			 user-mall, // 用户生成订单
			 user-feedback, // 用户信息反馈
			 // user-person, // 用户个人信息
			 user-share, // 用户分享
			 user-study, // 用户学习
			 user-tuiguang, // 用户推广
			 user-tuisong, // 推送设置
			 user-quotation, // 语录
			 user-yewu, // 业务办理
			 user-xietong, // 协同办公
			service; // 

.icon {
	position: relative;
	padding-left: $iconL;
	
  &:before {
  	content: "";
  	position: absolute;
  	left: 0;
  	top: 50%;
  	margin-top: - $iconW/2;
  	width: $iconW;
	  height: $iconW;
  	background: left center no-repeat;
  	background-size: 100%;
	}
}

@each $iconName in $icon {
	.icon-#{$iconName} {
		&:before {
			background-image: url("~assets/img/icon/#{$iconName}.png");
		}
	}
}