@import '~lib/sandal/core';
@import '~assets/css/core/functions', '~assets/css/core/mixins', '~assets/css/core/vars';

.rank-list {
	height: 100%;
}

.container {
	height: 100%;
}

.tab {
	height: 100%;
}

.list {
	height: 100%;
	padding-bottom: 60px;
}