
// 页面大小
// 最大宽度
$maxW: 414px;
// 最小宽度
$minW: 320px;
// 左右间距
$padding: 10px;

// 头部高度
$headerH: 60px;

// container距底部高度
$containerBottom: 50px;

// 圆角大小
$borderRadius: 6px;

// 常规输入框按钮等的高度
$inputH: 44px;

// 基础字体大小
$fontSize: 12px;

// 颜色
// 新设计
$colorBlue: #016aca;
$colorOrange: #ff8501;
// $colorYellow: #fe6e12;
$colorYellow: #f2c138;
// $colorGreen: #09BB07;
$colorGreen: #13ce66;
$colorGray: #ccc;

$fontColorBlack: #333;
$fontColor: #666;
$fontColorGray: #888;
// end

$colorRed: red;
$colorBlue: #0065bd;

$fontColorBlue: #0065bd;
$borderColor: #eee;
// $borderColor: #ddd;

$bgGray: #f1f1f1;

// 推荐组件
$tuijianImgW: 60px;

//购物车模块
$cartH: 50px;
$cartColorYellow: #FF9500;
$cartColorRed: #DD2727;

$disabledPay: rgba(0, 0, 0, .2);